<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.chiigu.drawerlayoutsample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DrawerLayoutActivity"/>
        <activity android:name=".NavigationActivity"/>
        <!-- android:parentActivityName 指定Navigation按钮，返回的父Activity, 该属性是在4.1中添加进来的-->
        <activity android:name=".ToolBarActivity"
            android:parentActivityName=".MainActivity"
            />
        <!-- 指定Navigation按钮，返回的父Activity,为了兼容4.1以下的版本-->
       <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity"
            />
        <activity android:name=".CoordinaryLayoutActivity"/>
        <activity android:name=".AppBarLayoutActivity"/>
        <activity android:name=".CollapsingToolbarLayoutActivity"/>
    </application>

</manifest>